a, img {border:0}
input {border:0; padding:2px;}
textarea {border: 0; padding:2px;}
input[readonly="readonly"] { background:#e1e1e1; cursor:default; } 

body
{
margin:0;
padding:0;
text-align:center;
background: #9e9e9e;
 
font-size:12px;
font-family: Arial, Helvetica, Verdana, sans-serif;
 

}

#wrapper
{
text-align:left;
width:1024px;
margin:0 auto;
/* background: #9e9e9e; */

 	
padding: 20px 30px;
background-image: url('../images/wrapper-bg.png');
background-position:top;
background-repeat:no-repeat;
}

#frame-wrapper
{
text-align:left;
width:700px;
margin:10px auto 10px auto;
background: #9e9e9e;
}


#header
{
width:964px;
padding:10px 30px 10px 30px;
text-align:center;
}

#content-wrapper
{
width:1024px;
}

#content-inner
{
padding:10px;
}
#navigation
{
padding:5px 5px 5px 5px;
}

#footer
{
width:1014px;
padding:5px;
text-align:center;
clear:both;
}

.white12px
{
  color:#ffffff;
  font-size:12px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  }

a:link              {   text-decoration:none; }
a:visited           {  text-decoration:none; }
a:hover             {   text-decoration:none; }
a:active            {  text-decoration:none; }
a.black:link    { color:#000000; text-decoration:underline; }
a.black:visited { color:#000000; text-decoration:underline; }
a.black:hover   { color:#000000; text-decoration:none; }
a.black:active  { color:#000000; text-decoration:underline; }
a.white:link    { color:#ffffff; text-decoration:underline; }
a.white:visited { color:#ffffff; text-decoration:underline; }
a.white:hover   { color:#ffffff; text-decoration:none; }
a.white:active  { color:#ffffff; text-decoration:underline; }
a.paging:link    { color:#ffffff; text-decoration:underline; }
a.paging:visited { color:#ffffff; text-decoration:underline; }
a.paging:hover   { color:#ffffff; text-decoration:underline; }
a.paging:active  { color:#ffffff; text-decoration:underline; }



#cates span.link { 
padding:2px 5px;display: block; float:left;
 }

.bgc:hover{/*
              background-color: #d3d3d3;
              */
           outline: #4c4c4c dashed 1px; 
           outline-offset: -4px; 
              }
#fnoty {
opacity: 0.7;
			display:block;
			left:20px; 
   			position:fixed; 
   			text-align:left; 
   			bottom:30px; 
         background:#000000;
         color:#ffffff;
         font-weight: 900;
   			padding:15px 30px;
    border-radius: 12px;
 
     box-shadow: 0 4px 10px #000000;
 
z-index:999;

}
.frt {
float:right;
}
.flt {
float:left;
}
.clr {
clear: both;
}