/*** Reset CSS ***/

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
  margin: 0; padding: 0; border: 0; outline: 0;
  font-size:100%; font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  }

body
{
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  background-color:#FFF;
  }

ul, ol
{
  list-style: none;
  }

/*** END Reset CSS ***/

body{
      
      }

#wrap {
        width: 870px;
        margin: auto;
        padding-bottom:25px;
        padding-left:45px;
        padding-right:45px;
        padding-top:25px;
        
        }

#header {
          height: 97px;
          background-image: url('../images/header.jpg');
          }


/*** nav ***/

ul#menu { 

          overflow: hidden;
          width: 850px;      
          background: #238cc6;
          height: 40px;
          padding: 0 10px;
          }

ul#menu li {
             float: left;
             width: auto;
             padding: 0 10px;
             text-align:center;
             height:40px;  
             }

ul#menu li a {
               font-family: helvetica, arial, sans-serif;      
               font-size: 18px;
               font-weight:bold;
               font-style:oblique;
               line-height:40px;
               }

a.nav-menu:link    { color:#ffffff; text-decoration:none; }
a.nav-menu:visited { color:#ffffff; text-decoration:none; }
a.nav-menu:hover   { color:#b8b8b8; text-decoration:none; }
a.nav-menu:active  { color:#ffffff; text-decoration:none; }
#banner {
          height: 150px;          
          background-image: url('../images/banner.jpg');

          margin-bottom:40px;

          }

#main {
        width: 870px;
        }

#cart {
        width:870px;
        height: 80px;
        margin-bottom:40px;
        float:left;
        }

.cart-block {
              height: 80px;
              width:215px;
              float:left;
              }


/*** nav ***/

#leftpanel {
             width:150px;
             float:left;
             }

.leftpanel-header{
                   margin-bottom:20px;
                   }

.leftpanel-table{
                  margin-bottom:20px;
                  }

.leftpanel-list{
                 margin-bottom:20px;
                 }

.leftpanel-search{
                   margin-bottom:20px;
                   }

.leftpanel-guest{
                  text-align:center;
                  }

.leftpanel-logout{}

.leftpanel-login{}

.leftpanel-loginhelp{}

.leftpanel-textbox{
                    text-align:left;
                    width:140px;
                    height:30px;
                    padding-left:10px;
                    margin-top:10px;
                    margin-bottom:10px;
                    background:url('../images/logintextbox.jpg') 0 0 no-repeat;
                    float:left;
                    }

input.textbox{
               text-align:left;
               width:215px;
               height:25px;
               padding-left:10px;
               margin-bottom:15px;
               border-style:solid;
               border-width:1px;
               border-color: #809eba;
               float:left;
               }	
textarea.textbox{
                  text-align:left;
                  width:315px;
                  height:100px;
                  padding-left:10px;
                  margin-bottom:15px;
                  border-style:solid;
                  border-width:1px;
                  border-color: #809eba;
                  float:left;
                  }	

.leftpanel-textline{}

#rightpanel {
              width:680px;
              margin-left:40px;
              margin-bottom:20px;
              float:left;
              }

#rightpanel-top {
                  width:680px;
                  height:15px;
                  background:url('../images/rightpanel-top.jpg') 0 0 no-repeat; 
                  float:left;
                  }	

#rightpanel-mid {
                  width:590px;
                  line-height: 1.25;
                  padding-bottom:25px;
                  padding-left:45px;
                  padding-right:45px;
                  padding-top:25px;
                  background:url('../images/rightpanel-mid.jpg') 0 0 repeat-y; 
                  float:left;
                  }	

#rightpanel-bottom {
                     width:680px;
                     height:20px;
                     background:url('../images/rightpanel-bottom.jpg') 0 0 no-repeat; 
                     float:left;
                     }

.product-bg {
              width:270px;
              height:97px;
              background:url('../images/product-bg.jpg') 0 0 no-repeat;
              margin-right:5px;
              margin-bottom:5px;
              padding-left:20px;
              padding-top:8px;
              float:left;
              }

.product-pic {
               width:50px;
               height:90px;
               margin-right:10px;
               float:left;
               }

.product-text {
                width:90px;
                height:90px;
                line-height:1.75;
                margin-right:10px;
                float:left;
                }

.product-buttons {
                   width:100px;
                   height:85px;
                   padding-top:5px;
                   line-height:1.75;
                   text-align:right;
                   float:left;
                   }

.product-quantity {
                    width:30px;
                    height:20px;
                    padding-left:5px;
                    background:url('../images/quantitytextbox.jpg') 0 0 no-repeat;
                    }

#product-bottompanel {
                       width:580px;
                       height:40px;
                       padding-top:5px;
                       padding-left:10px;
                       margin-top:10px;
                       background-image:url(../images/product-bottompanel.jpg);
                       background-repeat:repeat-x;
                       float:left;
                       }

#button{
         text-align:center;
         float:left;
         }

.button03{
           height:25px;
           width:85px;
           padding-top:5px;
           background:url('../images/button03.jpg') 0 0 no-repeat;
           }

.button03a{
            font-size: 14px;
            font-weight: bold;
            color:#FFF;
            height:30px;
            width:85px;
            background:url('../images/button03a.jpg') 0 0 no-repeat;
            }

.button04{
           height:33px;
           width:125px;
           padding-top:7px;
           margin-left:50px;
           background:url('../images/button04.jpg') 0 0 no-repeat;
           }

.button05{
           height:22px;
           width:155px;
           padding-top:3px;
           background:url('../images/button05.jpg') 0 0 no-repeat;
           }

.button06{
           height:22px;
           width:100px;
           padding-top:3px;
           background:url('../images/button06.jpg') 0 0 no-repeat;
           }

#footer { 
          text-align:center;
          color:#3b2420;
          font-size:10px;
          width:870px;
          margin-top:25px;
          margin-bottom:20px;
          float:left;
          }

hr.line {
          width: 150px;
          border: 1;
          height: 1px;
          background-color:#000;
          float:left;
          margin-top:15px;
          margin-bottom:15px;
          }

hr.line02 {
            width: 870px;
            border: 1;
            height: 1px;
            background-color:#000;
            float:left;
            }

hr.line03 {
            width: 590px;
            border: 1;
            height: 1px;
            background-color:#000;
            float:left;
            }

p { line-height:32px;
    font-size: 14px;
    color: #4e4e4e;
    }

a.black11:link    { color:#000; font-size:11px; text-decoration:none; }
a.black11:visited { color:#000; font-size:11px; text-decoration:none; }
a.black11:hover   { color:#999; font-size:11px; text-decoration:none; }
a.black11:active  { color:#000; font-size:11px; text-decoration:none; }

a.black16bold:link    { color:#000; font-size:16px; font-weight:bold; text-decoration:none; }
a.black16bold:visited { color:#000; font-size:16px; font-weight:bold; text-decoration:none; }
a.black16bold:hover   { color:#999; font-size:16px; font-weight:bold; text-decoration:none; }
a.black16bold:active  { color:#000; font-size:16px; font-weight:bold; text-decoration:none; }

a.black14bold:link    { color:#000; font-size:12px; font-weight:bold; text-decoration:none; }
a.black14bold:visited { color:#000; font-size:12px; font-weight:bold; text-decoration:none; }
a.black14bold:hover   { color:#999; font-size:12px; font-weight:bold; text-decoration:none; }
a.black14bold:active  { color:#000; font-size:12px; font-weight:bold; text-decoration:none; }

a.white12bold:link    { color:#FFF; font-size:12px; font-weight:bold; text-decoration:none; }
a.white12bold:visited { color:#FFF; font-size:12px; font-weight:bold; text-decoration:none; }
a.white12bold:hover   { color:#EEE; font-size:12px; font-weight:bold; text-decoration:none; }
a.white12bold:active  { color:#FFF; font-size:12px; font-weight:bold; text-decoration:none; }

a.white16bold:link    { color:#FFF; font-size:16px; font-weight:bold; text-decoration:none; }
a.white16bold:visited { color:#FFF; font-size:16px; font-weight:bold; text-decoration:none; }
a.white16bold:hover   { color:#EEE; font-size:16px; font-weight:bold; text-decoration:none; }
a.white16bold:active  { color:#FFF; font-size:16px; font-weight:bold; text-decoration:none; }

a.footer:link    { color:#3b2420; font-size:10px; text-decoration:none; }
a.footer:visited { color:#3b2420; font-size:10px; text-decoration:none; }
a.footer:hover   { color:#9c1d20; font-size:10px; text-decoration:none; }
a.footer:active  { color:#3b2420; font-size:10px; text-decoration:none; }

a.orange11:link    { color:#eda857; font-size:11px; text-decoration:none; }
a.orange11:visited { color:#eda857; font-size:11px; text-decoration:none; }
a.orange11:hover   { color:#fac88e; font-size:11px; text-decoration:none; }
a.orange11:active  { color:#eda857; font-size:11px; text-decoration:none; }

a.orange14:link    { color:#eda857; font-size:14px; text-decoration:none; }
a.orange14:visited { color:#eda857; font-size:14px; text-decoration:none; }
a.orange14:hover   { color:#fac88e; font-size:14px; text-decoration:none; }
a.orange14:active  { color:#eda857; font-size:14px; text-decoration:none; }

a.orange18:link    { color:#eda857; font-size:18px; text-decoration:none; }
a.orange18:visited { color:#eda857; font-size:18px; text-decoration:none; }
a.orange18:hover   { color:#fac88e; font-size:18px; text-decoration:none; }
a.orange18:active  { color:#eda857; font-size:18px; text-decoration:none; }


.black11bold{
              font-size: 11px;
              color:#000;
              }

.black12{
          font-size: 12px;
          color:#000;
          }

.black12bold{
              font-size: 12px;
              font-weight:bold;
              color:#000;
              }

.black14bold{
              font-size: 14px;
              font-weight: bold;
              color:#000;
              }

.black16bold{
              font-size: 16px;
              font-weight: bold;
              color:#000;
              }

.black24bold{
              font-size: 24px;
              font-weight: bold;
              color:#000;
              }

.white16bold{
              font-size: 16px;
              font-weight: bold;
              color:#FFF;
              }

.red14{
        font-size: 14px;
        color:#9c1d20;
        }

.orange12{
           font-size: 12px;
           color:#eda857;
           }

.orange14{
           font-size: 14px;
           color:#eda857;
           }

.orange18{
           font-size: 18px;
           color:#eda857;
           }
